@font-face{
    font-family: Roboto-Medium;
    src: url('../Fonts/Roboto-Medium.ttf');
}

@font-face{
    font-family: Roboto-SemiBold;
    src: url('../Fonts/OpenSans-SemiBold.ttf');
}

@font-face{
    font-family: Roboto-SemiBoldItalic;
    src: url('../Fonts/OpenSans-SemiBoldItalic.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.container1{
    background-image: url(../Images/albert-dera-ILip77SbmOE-unsplash.jpg);
    height: 900px;
    width: 50%;
    background-size: cover;
}

/* .container1 img{
    z-index: -99999;
} */

.container2 {
    width: 50%;
    background-color: #1C1D1F;
    padding-left: 20px;
    padding-right: 20px;
}

.container2 h1 {
    font-family: Roboto-Medium;
    font-size: 50px;
    color: white;
    line-height: 18px;
}

.container2 p {
    font-family: Roboto-SemiBold;
    font-size: 13px;
    line-height: 18px;
    color: #7a7c80;
}

.container2 h6 {
    color: #5A8570;
    font-style: italic;
    font-size: 15px;
    font-family: Roboto-SemiBoldItalic;
}

.icon-images {
    display: flex;
}

.icon-images div {
    width: 55%;
}
.icon-images span {
    color: #5A8570;
    font-size: 20px;
}

.icon-images h2 {
    color: white;
    font-family: Roboto-Medium;
    font-size: 15px;
}

hr.new5 {
    border: 1px solid #5A8570;
}

h6 {
    margin-top: 25px;
}

.container1 h1{
    font-family: Roboto-Medium;
    font-size: 50px;
    position: absolute;
    top: 730px;
    left: 16%;
    color: white;
}

.container1 p {
    font-family: Roboto-Medium;
    font-size: 20px;
    position: absolute;
    top: 820px;
    left: 22%;
    color: #538a6c;
}
